<body>
  <div>
    <button class="boxA" (click)="viewModal(rulesModal)">Rules</button>
    <div class="boxB" style="position: relative; float:right;">
      Popularity: <b [ngClass]= "{ 'positive' : popularityChange > 0, 'negative' : popularityChange < 0 }"> {{popularity | number: '1.0-2'}}%</b>
      Journalism Rating: <b [ngClass]="{ 'positive' : ratingChange > 0, 'negative' : ratingChange < 0 }">{{getLetterRating(rating)}}</b>
</div>
    <header>Name of Newspaper</header>
    
  </div>

  <div class="subhead">York, MA - {{date.toDateString()}}</div>

  <div class="subsection">Budget Remaining: ${{budgetRemaining}}</div>

  <div class="row content">
    <span id="valBox"></span>
    <div class="collumn" id="slider0" style="float: left; width: 50%;">
      <div class="subsection">Journalism: ${{costs[0]}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[0]" class="slider" (input)="sliderChange(0)">
      <div class="container">
        <div [style.visibility]="limitLeft[0] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[0]}}</div>
        <div [style.visibility]="limitRight[0] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[0]}}</div>
        <div [style.visibility]="limitSet[0] != null  ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[0]}}</div>
      </div>
      <div class="customtooltip">{{sliders[0]}}<br>{{getTooltipText(0)}}</div>
      </div>
    <div class="collumn" id="slider1" style="float: right; width: 50%;">
      <div class="subsection">Content: ${{costs[1]}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[1]" class="slider" (input)="sliderChange(1)">
      <div class="container">
        <div [style.visibility]="limitLeft[1] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[1]}}</div>
        <div [style.visibility]="limitRight[1] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[1]}}</div>
        <div [style.visibility]="limitSet[1] != null  ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[1]}}</div>
      </div>
      <div class="customtooltip">{{sliders[1]}}<br>{{getTooltipText(1)}}</div>
    </div>
    </div>

  <div class="row content">
    <div class="collumn" id="slider2" style="float: left; width: 50%;">
      <div class="subsection">Tone: {{sliders[2] - 50}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[2]" class="slider" (input)="sliderChange(2)">
      <div class="container">
        <div [style.visibility]="limitLeft[2] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[2]}}</div>
        <div [style.visibility]="limitRight[2] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[2]}}</div>
        <div [style.visibility]="limitSet[2] != null  ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[2]}}</div>
      </div>
      <div class="customtooltip">{{sliders[2]}}<br>{{getTooltipText(2)}}</div>
    </div>
    <div class="collumn" id="slider3" style="float: right; width: 50%;">
      <div class="subsection">Sensationalism: {{sliders[3]}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[3]" class="slider" (input)="sliderChange(3)">
      <div class="container">
        <div [style.visibility]="limitLeft[3] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[3]}}</div>
        <div [style.visibility]="limitRight[3] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[3]}}</div>
        <div [style.visibility]="limitSet[3] != null  ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[3]}}</div>
      </div>
      <div class="customtooltip">{{sliders[3]}}<br>{{getTooltipText(3)}}</div>
    </div>
  </div>

  <div class="row content">
    <div class="collumn" id="slider4" style="float: left; width: 50%;">
      <div class="subsection">Nationalization: ${{costs[4]}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[4]" class="slider" (input)="sliderChange(4)">
      <div class="container">
        <div [style.visibility]="limitLeft[4] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[4]}}</div>
        <div [style.visibility]="limitRight[4] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[4]}}</div>
        <div [style.visibility]="limitSet[4] != null  ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[4]}}</div>
      </div>
      <div class="customtooltip">{{sliders[4]}}<br>{{getTooltipText(4)}}</div>
    </div>
    <div class="collumn" id="slider5" style="float: right; width: 50%;">
      <div class="subsection">Syndication: ${{costs[5]}}</div>
      <input type="range" min="0" max="100" [(ngModel)]="sliders[5]" class="slider" (input)="sliderChange(5)">
      <div class="container">
        <div [style.visibility]="limitLeft[5] != null ? 'visible' : 'hidden'" class="limit">Limit Left: {{limitLeft[5]}}</div>
        <div [style.visibility]="limitRight[5] != null ? 'visible' : 'hidden'" class="limit">Limit Right: {{limitRight[5]}}</div>
        <div [style.visibility]="limitSet[5] != null ? 'visible' : 'hidden'" class="limit">Set Value: {{limitSet[5]}}</div>
      </div>
      <div class="customtooltip">{{sliders[5]}}<br>{{getTooltipText(5)}}</div>
    </div>
  </div>

  <button id="print" [disabled]="budgetRemaining < 0 || areLimitsInvalid()" (click)="createpaper()">Print</button>
</body>

<ng-template #introModal let-modal>
  <div class="modal-body global subsection">
    <div class="modal-background">
      <div style="font-size: 60px">
      Intro
      </div>
      <div class="modal-text">
        Your grandfather has just passed and left you his prized possession: a small-town newspaper located in Massachusetts. The staff is much smaller than it used to be back in its hay-day, but a few loyal employees hope you will be the person to bring the paper back to its former glory.<br><br>
        Your goal is to get increase the <b>Popularity</b> of the newspaper through competing with other papers for the readership of this small town.<br><br>
        The newspaper also receives a <b>Journalism Rating</b> based on the quality of the journalism that it performs. You goal is to keep that rating high.
      </div>
      <div mat-dialog-actions>
        <button class="rulesButton" (click)="modal.close(); viewModal(rulesModal)">Rules</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #rulesModal let-modal>
  <div class="modal-body global subsection">
    <div class="modal-background">
      <div style="font-size: 60px">
        Rules
      </div>
      <div class="modal-text">
        You can see your <b>Popularity</b> and <b>Journalism Rating</b> to the top right of your newspaper. You opponent newspapers are to the left of your screen with their Popularity and Journalism Rating.<br><br>
        Each round, you much adjust your sliders to create your paper and press the <b>Print</b> button to print your paper for the week.<br><br>
        Based on what you and what your opponents choose for their sliders, <b>Popularity</b> and <b>Journalism Rating</b> will be adjusted accordingly.<br><br>
        You may not print a paper if you are over your budget for the week.<br><br>
        Also, you will be promped with an event popup for every paper you print which will have a choice for you to make.<br>
      </div>
      <input type="range" min="1" max="100" value="50" class="slider exampleSlider" disabled="disabled">
      <div class="modal-text">
        These sliders are how you construct the elements of your paper. The orange tooltip is how you change the value. If you hover over the slider you can see what the current value is and a short description to help you to understand what that part of the slider is representing. <br><br>
        The green areas are what is called an <b>Overton Window</b>, which is the range that the public currently accepts as mainstream newspaper. You may choose to keep within that window to keep the attention of the public OR you can choose to go outside of the overton range to shift the public toward a different direction. <br><br>
        As you and your opponents choose the values for each slider, the overton window will shrink, grow, and slide as a response to what you and your opponents selected.<br><br>
        <u>Journalism</u> - The quality of how well you will research or make up your stories.<br>
        <u>Content</u> - What articles do you choose to feature in your newspaper.<br>
        <u>Tone</u> - The attitude of your paper toward the world.<br>
        <u>Sensationalism</u> - The use of exciting or shocking stories in order to provoke the public interest.<br>
        <u>Nationalisation</u> - The act of replacing local or regionally focused articles with those pertaining to the nation as a whole.<br>
        <u>Syndication</u> - The buying of columns or articles meant created for multiple newspapers vs creating unique articles for just your own.<br>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #eventModal let-modal>
  <app-events></app-events>
</ng-template>
