<body>
  <div *ngIf="temp">
    <ng-container *ngFor="let opponent of opponents()">
      <div class="opponentBox">
        <div>
          <img class="newspaperIcon" src="/assets/newspaper.png" alt="newspaper">
          <div class="name">
            {{opponent.name}}
          </div>
        </div>
        <div class="pop">
          Popularity: <b [ngClass]="{ 'positive' : opponent.popChange > 0, 'negative' : opponent.popChange < 0 }">{{opponent.popularity | number: '1.0-2'}}%</b>
        </div>
        <div class="pop">
          Rating: <b [ngClass]="{ 'positive' : opponent.ratingChange > 0, 'negative' : opponent.ratingChange < 0 }">{{getLetterRating(opponent.rating)}}</b>
        </div>
      </div>
    </ng-container>
  </div>
</body>
